/* Estilo geral */
body {
    height: 100%;
    color: black; /* Cor do texto */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Cor de fundo da página */
}

main {
    height: 100%;
    padding: 5rem; /* 5 viewport widths */
    display: flex;
    flex-direction: column;
    gap: 2vw;
    background-image: url('cover.jpg');
    background-size: cover;
    background-position: center; 
}

/* Seção de produtos */
#produtos {   
    height: 50vh; /* Altura fixa em porcentagem da viewport */
    overflow-y: auto;
    text-align: center;
    border: 1px solid #ddd;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#produtos h1 {
    font-size: 2.7vw; /* 2.4 viewport widths */    
    color: #fff;
}

.produto-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw; /* 1 viewport width */
    justify-content: center;
    height: 55vh; 
    overflow-y: auto;
}

.card {
    width: 80%;
    background-color:darkgoldenrod;
    opacity: 0.9;
    border: 2px solid white;
    
}

.produto-card {
    background-color: darkgoldenrod; 
    color: black;  
    width: 100%;
    opacity: 0.9;
    border: 1px solid white;
    border-radius: 5px;
    width: 25vw; /* 25 viewport widths */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

.produto-card h3,
.produto-card .produto-info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 11vw;
}

.produto-card h3:hover,
.produto-card .produto-info p:hover {
    white-space: normal;
    overflow: visible;
    background-color: darkgoldenrod;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    max-width: 20vw; 
}

.produto-card img.produto-imagem {
    width: 20vw; 
    height: 20vw; 
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 1vw;

}

.produto-card .produto-info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-card .produto-info p {
    position: relative;
}

.delete-icon {
    color: red; /* Cor do ícone de exclusão */
    cursor: pointer;
    font-size: 2vw; /* 2 viewport widths */
    position: absolute;
    top: -1vw; /* -1 viewport width */
    right: -1vw; /* -1 viewport width */
}

/* Seção de formulário */
#formulario {
    background-color: darkgoldenrod;
    opacity: 0.8;
    padding: 1rem; 
    flex-wrap: wrap;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

#formulario form {
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 3px solid white;
    padding: 2rem 4rem;
}

#formulario form input {
    font-size: medium;         
    width: 100%;
    height: 2rem;
    align-content: center;
    align-items: center;
}

#formulario form button {
    font-size: medium;         
    width: 20%;
    height: 2rem;
    align-content: center;
    align-items: center;
}

#formulario form label {
    
    align-self: flex-start;
    width: 20vw;
}

/* Footer */
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center;
    padding: 1vw 0; /* 1 viewport width */
}

footer .social-media {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

footer .social-media li {
    margin: 0 1vw; /* 1 viewport width */
}

footer .social-media li a {
    color: #fff; /* Cor dos ícones sociais */
    font-size: 2vw; /* 2 viewport widths */
    text-decoration: none;
}

footer .social-media li a:hover {
    color: #ddd; /* Cor dos ícones ao passar o mouse */
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #produtos,
    #formulario {
      width: 100%;
      
    }
    #produtos h1 {
        font-size: 4vw;
        
    }
   .card-img-top.produto-imagem {
        padding-top: 1rem;
        width: 100%;
    }
  
    .produto-card {
        color: black;
        font-style: italic;
        
       width: 100%; 
    }

    .card {
        width: 70%;
    }

    .produto-card img.produto-imagem {
        align-self: center;
        width: 100%; 
        height: 40vw;
    }

    #formulario form input,
    #formulario form button {
        width: 100%;
        height: 3rem; 
        font-size: medium;
    }
 
}
