/* Estilo geral */
body {
    color: #fff; /* Cor do texto */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Cor de fundo da página */
}

main {
    background-image: url('cover.jpg');
    background-size: cover;
    background-position: center; 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Header */
header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff; /* Cor do texto do menu */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seção de produtos */
#produtos {
    height: 50vh;
    overflow-y: auto;
    margin-bottom: 20px;
    text-align: center;
}

#produtos .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#produtos h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.produto-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto-card {
    background-color: #f8f8f8; /* Cor de fundo do card */
    color: #333; /* Cor do texto do card */
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33.333% - 20px); /* Ajuste conforme necessário */
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.produto-card h3,
.produto-card .produto-info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.produto-card h3:hover,
.produto-card .produto-info p:hover {
    white-space: normal;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    max-width: 200px; /* Ajuste conforme necessário */
}

.produto-card img.produto-imagem {
    width: 80%; /* Defina o tamanho máximo desejado */
    height: 80%; /* Defina o tamanho máximo desejado */
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.produto-card .produto-info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-card .produto-info p {
    position: relative;
}

.delete-icon {
    color: red; /* Cor do ícone de exclusão */
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: -10px; /* Ajuste conforme necessário */
    right: -10px; /* Ajuste conforme necessário */
}

/* Seção de formulário */
#formulario {
    margin-bottom: 20px;
}

#formulario .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#formulario form input[type="text"],
#formulario form input[type="file"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#formulario form label {
    margin-bottom: 10px;
    font-weight: bold;
}

#formulario form .btn {
    padding: 10px 20px;
    border: none;
    background-color: #333; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#formulario form .btn:hover {
    background-color: #555; /* Cor do botão ao passar o mouse */
}

/* Footer */
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    padding: 5px 0;
    text-align: center;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline-block;
    margin: 0 10px;
}

.social-media li a {
    color: #fff; /* Cor do texto das redes sociais */
    text-decoration: none;
    font-size: 20px;
}

.social-media li a:hover {
    color: #ccc; /* Cor do texto das redes sociais ao passar o mouse */
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
}